<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>proyectos</title>
	<!--LINKEAR ARCHIVO EXTERNO CSS-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="../js/bootstrap.bundle.min.js"></script>
		
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-12">
				<ul class="nav nav-tabs">
					<li class="nav-item">
					<a class="nav-link active" href="../index.html">INICIO</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="sobre_mi.html">SOBRE MI</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="proyectos.html">PROYECTOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="experiencia.html">EXPERIENCIA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contacto.html">CONTACTO</a>
					</li>
				</ul>
			</div>
		</div>
	
		<div class="container">
			<div class="row justify-content-around">
				<div class="col-lg-6 col-12">
					<img class="col-lg-12 col-12" src="../assets/img/la_vie_en_clothes.jpg" alt="la_vie_en_clothes">
				</div>

				<div class="col-lg-6 col-12 ">
					<img class="col-lg-12 col-12" src="../assets/img/la_vie_en_clothes_ropa.jpg" alt="la_vie_en_clothes_ropa">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-around">
				<div class="col-lg-12 col-12">
					<h1>La vie en clothes</h1>
					<p>Este proyecto nacio de la necesidad de que exista una mejor gestion de los residuos textiles, mucho tiempo
						usamos ropa sin siquiera llegar a las dos puestas y compramos mas sin necesidad de ello. Este proyecto intenta 
						llevar la ropa que no se usa mas pero que sigue en buen estado a manos de otra persona que pueda darle una segunda
						vida. Ademas de esto, amo la ropa y creo que la sustentabilidad puede ir facilmente de la mano con un closet genial.						
					</p>
				</div>
			</div>
		</div>
		

		<div class="container">
			<div class="row justify-content-around">
				
				<div class="col-lg-6 col-12 ">
					<h2>Planto</h2>
					<p>
						Los platos desechables de unicel producen mucha basura. Ademas de esto, el unicel no se degrada rapidamente, si no que tarda
						aproximadamente 100-500 años, por lo menos 5 generaciones de personas. Es imposible que en la actualidad produzcamos una 
						cantidad de basura abismal, la cual no se degradaria en las siguientes generaciones. Planto es un plato desechable hecho a base
						de plantas de almendro y almidon. 
					</p>
				</div>

				<div class="col-lg-6 col-12">
					<img class="col-lg-12 col-12" src="../assets/img/planto_plato.jpg" alt="plantp_plato">
				</div>
			</div>
		</div>

		<div class="container">
			<footer class="text-center text-white" style="background-color: #f1f1f1;">
  				<!-- Copyright -->
				<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				  <h5>© 2022 Copyright </h5>
				  <img class="col-lg-1 col-2" src="../assets/img/logo_instagram.png" alt="logo_instagram">
				  <img class="col-lg-1 col-2" src="../assets/img/logo_linkedin.png" alt="logo_linkedin">
				  <h5>margesy.anaya@gmail.com</h5>
				</div>
				<!-- Copyright -->
			  </footer>
		</div>
	
</body>
</html>	