<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>margesy</title>
	<!--LINKEAR FONTS DE GOOGLE-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>	
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="../js/bootstrap.bundle.min.js"></script>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-12">
				<ul class="nav nav-tabs">
					<li class="nav-item">
					<a class="nav-link active" href="../index.html">INICIO</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="sobre_mi.html">SOBRE MI</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="proyectos.html">PROYECTOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="experiencia.html">EXPERIENCIA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contacto.html">CONTACTO</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="container">
			<div class="row justify-content-around">
				<div class="col-lg-6 col-12">
					<img class="col-lg-12 col-12" src="../assets/img/roller_derby.jpg" alt="roller_derby">
				</div>

				<div class="col-lg-6 col-12 ">
					<h1>roller derby</h1>
					<p>El Roller Derby es un deporte de contacto de los años 50. En su momento se volvio un deporte olvidado
						ahora, mujeres feministas se han apropiado de el creando una comunidad muy sorora y hermosa. Me encanta
						porque es un deporte de estrategia en el que hay que pensar las jugadas y tratar de ganar la mayoria de 
						puntos posible. Las reglas han sido creadas para que nadie se lastime, sin embargo es un deporte bastante 
						peligroso si no se juega siguiendo las reglas.
					</p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-around">
				
				<div class="col-lg-6 col-12 ">
					<h1>arte</h1>
					<p>Creo que todas las personas deberian tener acceso al arte, no esta de mas poder entender lo que una persona
						trata de transmitir a travez de un dibujo. El arte es uno de los activos mas importantes en la historia de 
						la humanidad. el arte desde antes de que existieran las palabras. Nuestra historia esta escrita en el. Es 
						por ello que amo el arte, creo que puedo contar la historia de mi vida o mis sentimientos a travez de el.

					</p>
				</div>

				<div class="col-lg-6 col-12">
					<img class="col-lg-12 col-12" src="../assets/img/arte.jpg" alt="arte">
				</div>
			</div>
		</div>

		
		<div class="container">
			<footer class="text-center text-white" style="background-color: #f1f1f1;">
  				<!-- Copyright -->
				<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				  <h5>© 2022 Copyright </h5>
				  <img class="col-lg-1 col-2" src="../assets/img/logo_instagram.png" alt="logo_instagram">
				  <img class="col-lg-1 col-2" src="../assets/img/logo_linkedin.png" alt="logo_linkedin">
				  <h5>margesy.anaya@gmail.com</h5>
				</div>
				<!-- Copyright -->
			  </footer>
		</div>
	
	</div>
</body>
</html>	